<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            หน้าแรก
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="data1 style2">Data 1</div>
    <div class="data1">Data 2</div>
    <div class="aaa">
        Num1 : {{ num1 }}
    </div>
    <div>
        Num2 : {{ num2 }}
    </div>
    <div>
        Num : {{ num }}
    </div>
    <div>
        Data1 : {{ data1 }}
    </div>
    <div>
        Data2 : {{ data2 }}
    </div>
    <div>
        Data : {{ data }}
    </div>
    <div *ngFor="let a of arr">
        {{ a }}
    </div>
    <ion-button color="warning" (click)="Alert()">Alert</ion-button>
    <ion-button color="warning" (click)="Confirm()">Confirm</ion-button>
    <ion-button color="warning" (click)="Toast()">Toast</ion-button>

    <ion-button color="warning" (click)="Get()">Get</ion-button>
    <ion-button color="warning" (click)="Set()">Set</ion-button>
    <ion-button color="warning" (click)="Remove()">Remove</ion-button>

    <ion-button color="warning" (click)="GoToPage2()">Go To Page</ion-button>
</ion-content>