<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            หน้าแรก
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="data1 style2">Data 1</div>
    <div class="data1">Data 2</div>
    <div>
        Num1 : {{ num1 }}
    </div>
    <div>
        Num2 : {{ num2 }}
    </div>
    <div>
        Num : {{ num }}
    </div>
    <div>
        Data1 : {{ data1 }}
    </div>
    <div>
        Data2 : {{ data2 }}
    </div>
    <div>
        Data : {{ data }}
    </div>
    <div *ngFor="let a of arr">
        {{ a }}
    </div>
</ion-content>