.data1 {
    color: #298d00;
    font-size: 41px;
    margin-bottom: 3px;
}

.style2 {
    text-align: center;
}

[bbb] {}

yourtag {}

#yourid {}

.aaa {
    font-size: 50px;
    color: red;
    background-color: #298d00;
}